<div class="page-container">
  <div class="page-content">
    <h1 class="title">
      Copy
    </h1>
    <p class="content">
       <%= link_to '新規登録', signup_path %>
    </p>
    <p class="content">
       <%= link_to 'ログイン', login_path %>
    </p>
  </div>
</div>